body {
height: 100vh;
background-image: url("pizza.jpg");
background-repeat: no-repeat;
display: flex;
align-items: center;
/*justify-content: center;*/
flex-direction: column;
}

#root{
    height: inherit;
}

.falseAllergenButton{
    display: inline-block;
    text-align: center;
    font-size:16px;
    background-color: rgb(38, 37,37, 0.8);
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.allergenButton{
    display: inline-block;
    text-align: center;
    font-size:16px;
    background-color:red;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.allergenButton:hover{
    color:#000000;
    background-color:#FFFFFF;
    }

.allergenButton:active{
  transform: translateY(4px);
}

.pizzas{
    display: flex;
    flex-direction: column;
    background-color: rgb(38, 37,37, 0.8);
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* align-content: space-between; */
    width: 100vh;
    /* height: 100vh; */
    font-family: Arial;
    font-size: 16px;
    line-height: 25px;
}

.pizza {
    border-radius: 5px;
    background-color: red;
    margin: 10px 20px;
    padding: 30px;
    color: white;
    /* width: auto; */
}